<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%-5level] %logger{0} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="DEBUG">
        <appender-ref ref="STDOUT"/>
    </root>

    <!-- TODO Does not work like this for unknown reasons -->
    <logger name="de.thokari.epages.app" level="DEBUG" additivity="false"/>

</configuration>
